@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

html, body {
  background-color: #FAFAFA;
  color: #1F2937;
  scroll-behavior: smooth;
}

::selection {
  background-color: #D1D5DB;
  color: #111827;
}
